nav {
    margin-bottom: 25px;
    margin-top: 20px;
}

dd {
    margin-bottom: 10px;
}

.item-container .panel-body {
    min-height: 242px;
}
.item-container img {
    height: 150px;
}
.item-container .price-label {
    font-size: 1.4em;
    font-weight: bold;
}

.item-container .price-label p {
    margin: 4px 0 0 0;
}

.minus-icon {
    border: none;
}

.add-icon {
    border: none;
}